/* 
.sidebar-header h6{
    padding-bottom: 30px;
    font-size: 20px;
 }
 
 .open-btn{

   float: left;
 }
 
 .section{

    transition: all .5s;
    margin-top: 63px;
 
 }
 
 .section h1{
   text-align: center;
   color: #fff;
 }
 
 .section-margin{
   margin-left: 300px;
 }
 
 .form-row{
   justify-content: center;
   margin-top: 30px;

 }
 
 .btn-container{
   justify-content: center;
   margin-bottom: 30px;
 }
 
 .services{
   justify-content: center;
 }
 
 .dateInput{
   height: 38px;
 }
 
 .row{
   text-align: center;
 }
  */
.actionComponent{

  height: 100%;
  background-color:rgb(236, 232, 232);
    /* background-color: rgb(255, 80, 58,.5) !important; */
   /* background-image: linear-gradient(rgba(256, 256, 256, 0.5), rgba(255, 255, 255, .5)),
     url('https://images.unsplash.com/photo-1526628953301-3e589a6a8b74?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=995&q=80'); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
 
}

.form-row{
    /* display: flex ; */
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 5px;

}

.form-row select,input[type=date]{
    margin: 5px;
    height: 40px;
    width: 170px;
    padding: 0 10px;
    border-radius: 5px;
}

.actionComponent h2{
    text-align: center;
    /* color: ; */
    padding: 20px;
}


.checkbox-group{
  display: flex;
  justify-content: center;
}

input[type=checkbox]{
   margin-left: 5px;
}

.checkbox-group .contain{
  /* margin-left: 5px; */
  margin: 20px;
}






