.navbar{
    padding: 20px 45px;
}

.navbar .navbar-brand{
    font-size: 200%;
    font-weight: 600;
}

.bg-light {

    background-color: rgb(255, 80, 58) !important;
    color: #fff;
}

.actionComponent{
    color: black;
}